* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Background gradasi lembut */
body {
    font-family: 'Poppins', sans-serif;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('../img/bglog.jpeg');
    background-color: #8a94ff;
    background-blend-mode: multiply;
    background-repeat: no-repeat;
    background-size: 1800px 720px;
}

.logo {
    margin-right: 0px;
    max-width: 200px;
    width: 100%;
    
    
}

/* Kotak form login */
form {
    backdrop-filter: blur(10px);;
    padding: 40px 40px;
    max-width: 550px;
    max-height: 300px;
    width: 90%;
    height: 90%;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.15);
    text-align: center;
    animation: fadeIn 0.6s ease-in-out;
}

/* Animasi muncul */
@keyframes fadeIn {
    from { opacity: 0; transform: translateY(-15px); }
    to { opacity: 1; transform: translateY(0); }
}

/* Judul */
form h3 {
    margin-bottom: 25px;
    color: #333;
    font-weight: 600;
    letter-spacing: 0.5px;
}

/* Input field */
input {
    max-width: 400px;
    width: 100%;
    margin-bottom: 15px;
    padding: 12px 14px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background: #f9f9f9;
    font-size: 14px;
    transition: 0.3s;
}

/* Efek fokus input */
input:focus {
    border-color: #5563DE;
    background: #fff;
    box-shadow: 0 0 5px rgba(85, 99, 222, 0.4);
    outline: none;
}

/* Tombol login */
button {
    max-width: 400px;
    width: 100%;
    background: linear-gradient(135deg, #5563DE, #74ABE2);
    color: white;
    border: none;
    padding: 12px;
    font-size: 15px;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.3s ease;
}

/* Efek hover tombol */
button:hover {
    background: linear-gradient(135deg, #4b55c1, #6ca1de);
    transform: translateY(-2px);
    box-shadow: 0 4px 10px rgba(85, 99, 222, 0.3);
}

